<style>
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
</style>
<footer id="footer">
      <p>Powered by
        <a id="footer" style="font-family: 'Lucida Sans'" href="http://beastcodz.ml">BeastCodZ.ml</a></p>
      </footer>
</body>
</html>