<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/nav.css" rel="stylesheet" id="css">
    <link rel="stylesheet" href="/style.css" id="css">
</head>
<body id="random">
  <script>
  var bigSize = ['https://cdn.glitch.me/89e8dcbe-769a-469d-9d90-204240ad88bf%2F95fafee0-d02f-4890-aaaf-df8c61c8b801.image.png?v=1635532546254']
  var img = document.getElementById("random")
  var random = Math.floor(Math.random() * 1) + 0;
  img.style.backgroundImage = 'url("' + bigSize[random] + '")';
  img.style.backgroundRepeat = "no-repeat";
  img.style.backgroundSize = "cover";
</script>
</div>