<%- include("partials/header", { bot, user, path, title: "Kurama" }) %>
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section class="hero">
<div class="container-sm center" style="margin-top: 110px; margin-left: 25%;">
  <div class="d-grid gap-2 col-1 mx-auto">
    <h1 class="hero-title">Kurama</h1>
    <a href="/dashboard"><button class="fill">Dashboard</button></a>
    <a href="<%= discordInvite %>"><button class="fill">Support Server</button></a>
  </div>
</div>
</section>
<div class="loader-wrapper">
<div class="loader">
  <div class="eye">
      <div class="gome">
        <div class="gome1"></div>
        <div class="gome2"></div>
        <div class="gome3"></div>                                                       
      </div>
    </div>
  </div>
</div>
<script>
        $(window).on("load",function(){
          setTimeout(function () {
          $(".loader-wrapper").fadeOut("slow");
          }, 2000);
        });
    </script>
</div>
<%- include("partials/footer") %>