<%- include("partials/header", { bot, user, path, title: "Kurama" }) %>

<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="http://fonts.cdnfonts.com/css/quartzo" rel="stylesheet">

<div class="container">
  <h2 class="title" align="center" style="font-family: 'QUARTZO', sans-serif;">
  Kurama
</h2>
</div>
<%- include("partials/footer") %>