<%- include("partials/header", { bot, user, path, title: "Kurama" }) %>

<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="http://fonts.cdnfonts.com/css/quartzo" rel="stylesheet">
                
<div class="container vcenter">
  <h2 class="title">
  <b>K</b><b>u</b><b>r</b><b>a</b><b>m</b><b>a</b>
</h2>
  <div>
    <div class="index-opt">
     SETTINGS
    </div>
    <div class="index-opt">
     DASHBOARD
    </div>
  </div>
<%- include("partials/footer") %>